/.idea/testpy8.iml
/.idea/*
__pycache__/categ.cpython-311.pyc
__pycache__/quest.cpython-310.pyc
__pycache__/quest.cpython-311.pyc
__pycache__/street_team.cpython-311.pyc
__pycache__/widget.cpython-310.pyc
__pycache__/widget.cpython-311.pyc
